.footer {
  padding-top: 40px;
  background: linear-gradient(
    180deg,
    rgb(251, 134, 39),
    rgb(245, 190, 246) 100%
  );
}

@media screen and (max-width: 768px) {
  .footer {
    padding-top: 30px;
  }
}

.wrapper-footer {
  padding: 0 10px 0 10px;
  display: flex;
  max-width: 1380px;
  margin: 0 auto;
  padding-bottom: 45px;
}

@media screen and (max-width: 768px) {
  .wrapper-footer {
    padding-bottom: 40px;
    flex-direction: column;
  }
}

.footer__block {
  display: flex;
  justify-content: space-between;
}

.footer__social {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

@media screen and (max-width: 768px) {
  .footer__social {
    margin-top: 0px;
  }
}

.footer__logo {
  cursor: pointer;
}

.footer__middle {
  display: flex;
  width: 306px;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer__middle {
    margin-top: 30px;
    width: 253px;
  }
}

.nav__right {
  list-style-type: none;
}

@media screen and (max-width: 768px) {
  .nav__right {
    margin-left: 84px;
  }
}

.nav__right li:not(:last-child) {
  margin-bottom: 15px;
}

.nav__left {
  list-style-type: none;
}

.nav__left li:not(:last-child) {
  margin-bottom: 15px;
}

.footer__right {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0 54px 0 30px;
}

@media screen and (max-width: 900px) {
  .footer__right {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .footer__right {
    margin-top: 40px;
  }
}

.footer__right > li > a {
  opacity: 1 !important;
  text-decoration: none;
}

.footer__right li:nth-child(2) {
  margin-top: 20px;
  padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .footer__left {
    display: flex;
    justify-content: space-between;
  }

  .footer__social > li:not(:last-child) {
    margin-right: 20px;
  }
}
