header {
  position: fixed;
  top: 0;
  left: 0;
  height: 119px;
  width: 100%;
  z-index: 5;
}

@media screen and (max-width: 768px) {
  header {
    height: 83px;
  }
}

.header {
  max-width: 1360px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px 0 20px 0;
  align-items: center;
  /*position: relative;*/
}

@media screen and (max-width: 768px) {
  .header {
    padding: 20px 0 10px 0;
  }
}

.header > a > svg {
  width: 69px;
  height: 82px;
}

@media screen and (max-width: 768px) {
  .header > a > svg {
    width: 44px;
    height: 53px;
  }
}

.header__list {
  display: flex;
  list-style-type: none;
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  text-align: left;
  margin-left: 120px;
}

@media screen and (max-width: 1000px) {
  .header__list {
    margin-left: 0px;
  }
}

@media screen and (max-width: 768px) {
  .header__list {
    flex-direction: column;
  }
}

.header__list > li {
  padding: 25px 10px 25px 10px;
}

@media screen and (max-width: 768px) {
  .header__list > li {
    padding: 10px;
  }
}

.header__list :not(:last-child) {
  margin-right: 10px;
}

.header__list > li > img {
  margin-left: 8px;
}

.header__btn {
  background: linear-gradient(rgb(15, 15, 23) 0 0) padding-box,
    linear-gradient(to right, #9c20aa, #fb3570) border-box;
  color: rgb(255, 255, 255);
}

.header__btn:hover {
  color: rgb(15, 15, 23);
  background: linear-gradient(
    180deg,
    rgb(251, 134, 39),
    rgb(245, 190, 246) 100%
  );
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header li {
  list-style: none;
  float: left;
}

.header li a {
  display: flex;
}

header li ul {
  display: none;
}

.header li:hover ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.header .block-dropdown {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 95px;
  left: 0;
  overflow: hidden;
}

.dropdown-wrap {
  width: 100%;
  z-index: 10;
  background: rgb(15, 15, 23);
  padding: 30px 0 58px 0;
  height: 170px;
}

.dropdown__list {
  display: flex;
  flex-direction: column;
  height: 87px;
  width: 450px;
}

@media screen and (max-width: 1000px) {
  .dropdown__list {
    width: 570px;
  }
}

@media screen and (max-width: 768px) {
  .dropdown__list {
    width: auto;
    margin-left: 10px;
  }
}

.dropdown__list > li > a {
  margin-right: 60px;
  margin-bottom: 8px;
}

.list-drop img {
  transition: transform 0.1s ease-in-out;
}

.list-drop:hover img {
  transform: rotate(90deg);
}

.displayMin {
  display: none;
}

@media screen and (max-width: 768px) {
  .displayMax {
    display: none;
  }
  .displayMin {
    display: flex;
  }

  .list-drop:hover img {
    transform: rotate(0deg);
  }
}

.head-btn-container {
  display: inline-block;
}

.header__btn-min {
  border: none;
  background-color: transparent;
}

.bar1,
.bar2,
.bar3 {
  width: 36px;
  height: 4px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 10px) rotate(-45deg);
}

.change .bar3 {
  transform: translate(0, 0px) rotate(45deg);
}

.headerModalOpen {
  display: none;
}

.header__modal {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 80px;
  right: 0;
  background: rgb(15, 15, 23);
  padding: 20px 10px 20px 10px;
  z-index: 10;
}
.header__modal > button {
  margin-top: 36px;
  position: absolute;
  bottom: 100px;
}

.listModal {
  display: flex;
  flex-direction: column;
}

.listModal > li {
  padding: 10px 0 10px 0;
}

.headerModal-style {
  margin: 0 !important;
  padding: 10px 0 10px 0 !important;
}

.headerModal-style:before {
  display: none !important;
}
.headerModal-style {
  margin: 0 !important;
  padding: 10px 0 10px 0 !important;
  display: flex !important;
}

.headerModal-style > img {
  margin-left: 10px !important;
}
