.header__list {
  display: flex;
  list-style-type: none;
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  text-align: left;
  margin-left: 120px;
}

@media screen and (max-width: 1000px) {
  .header__list {
    margin-left: 0px;
  }
}

.header__list > li {
  padding: 10px 10px 30px 10px;
}

.header__list :not(:last-child) {
  margin-right: 10px;
}

.header__list > li > img {
  margin-left: 8px;
}

.header__btn {
  background: linear-gradient(rgb(15, 15, 23) 0 0) padding-box,
    linear-gradient(to right, #9c20aa, #fb3570) border-box;
  color: rgb(255, 255, 255);
}

.header__btn:hover {
  color: rgb(15, 15, 23);
  background: linear-gradient(
    180deg,
    rgb(251, 134, 39),
    rgb(245, 190, 246) 100%
  );
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 119px;
  width: 100%;
  z-index: 5;
}

.header {
  max-width: 1360px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px 0 20px 0;
  align-items: center;
  position: relative;
}

.header > a > svg {
  width: 69px;
  height: 82px;
}

@media screen and (max-width: 768px) {
  .header > a > svg {
    width: 44px;
    height: 53px;
  }
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header li {
  list-style: none;
  float: left;
}

.header li a {
  display: flex;
}

header li ul {
  display: none;
}

.header li:hover ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  /* padding-left: 225px;*/
  /*
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 200px 200px 200px 99999px rgba(0, 0, 0, 0.5);
  box-shadow: 200px 200px 200px 100vmax rgba(0, 0, 0, 0.5);
*/
}

.header .block-dropdown {
  width: 100%;
  position: absolute;
  background: rgb(15, 15, 23);
  padding: 30px 0 58px 0;
  top: 95px;
  left: 0;
  overflow: hidden;
  max-height: 281px;
}

.dropdown__list {
  display: flex;
  flex-direction: column;
  height: 87px;
  width: 450px;
}

@media screen and (max-width: 1000px) {
  .dropdown__list {
    width: 570px;
  }
}

.dropdown__list > li > a {
  margin-right: 60px;
  margin-bottom: 8px;
}

.list-drop img {
  transition: transform 0.3s ease-in-out;
}

.list-drop:hover img {
  transform: rotate(90deg);
}
