header {
  position: fixed;
  top: 0;
  left: 0;
  height: 119px;
  width: 100%;
  z-index: 5;
}

.header {
  max-width: 1360px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px 0 20px 0;
  align-items: center;
}

.header > a > svg {
  width: 69px;
  height: 82px;
}

.header__list {
  display: flex;
  list-style-type: none;
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  text-align: left;
  margin-left: 120px;
}

@media screen and (max-width: 1000px) {
  .header__list {
    margin-left: 0px;
  }
}

.header__list > li {
  padding: 10px;
}

.header__list :not(:last-child) {
  margin-right: 10px;
}

.header__list > li > img {
  margin-left: 8px;
}

.header__btn {
  background: linear-gradient(rgb(15, 15, 23) 0 0) padding-box,
    linear-gradient(to right, #9c20aa, #fb3570) border-box;
  color: rgb(255, 255, 255);
}

.header__btn:hover {
  color: rgb(15, 15, 23);
  background: linear-gradient(
    180deg,
    rgb(251, 134, 39),
    rgb(245, 190, 246) 100%
  );
}
