.news {
  max-width: 1360px;
  margin: 0 auto;
  padding-top: 150px;
}

@media screen and (max-width: 1024px) {
  .news {
    padding-top: 80px;
  }
}

.news__main {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 40px;
}

@media screen and (max-width: 1024px) {
  .news__main {
    margin-top: 30px;
  }
}

.news__slider {
  display: none;
}

@media screen and (max-width: 768px) {
  .news__main {
    display: none;
  }
  .news__slider {
    display: block;
  }
}

.card__block {
  cursor: pointer;
}

.card__block > p {
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .card__block {
    margin-top: 30px;
    padding-bottom: 70px;
  }
}

.card__block > img {
  width: 100%;
  height: auto;
}

.card__block:hover > img {
  border-radius: 20px;
}

.card__block:hover > h4 {
  background: linear-gradient(180deg, rgb(251, 134, 39), rgb(245, 190, 246));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: table;
}

.card__block > h4 {
  margin-top: 15px;
}

.card__block > p {
  padding: 10px 0 20px 0;
}

.card__block > span {
  opacity: 1 !important;
}
