@import "./header.css";
@import "./main.css";
@import "./news.css";
@import "./faq.css";
@import "./subscribe.css";
@import "./modal-contact.css";
@import "./footer.css";
@import "./newspage.css";
@import "./normalize.css";

body {
  margin-top: 119px;
  padding: 0;
}

@media screen and (max-width: 768px) {
  body {
    margin-top: 83px;
  }
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  background-color: rgb(15, 15, 23);
  padding: 0 10px 0 10px;
}

.wrapper-main {
  background-color: rgb(15, 15, 23);
  padding: 0 10px 0 10px;
}

@media screen and (max-width: 768px) {
  .wrapper-main {
    padding: 0;
  }
}

.wrapper-white {
  background-color: transparent;
  padding: 0 10px 0 10px;
}

button {
  cursor: pointer;
}

li {
  cursor: pointer;
}

.swiper {
  width: 100%;
  height: 100%;
}

.headline {
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 110%;
  text-align: left;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  .headline {
    font-size: 24px;
  }
}

.headline-h2 {
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 110%;
  text-align: left;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  .headline-h2 {
    font-size: 20px;
  }
}

.headline-h3 {
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 110%;
  text-align: left;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  .headline-h3 {
    font-size: 16px;
  }
}

.headline-h3 {
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 110%;
  text-align: left;
  text-transform: uppercase;
}

.paragraph {
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  text-align: left;
  /* opacity: 0.5;*/
}

.span-font {
  color: rgb(15, 15, 23);
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  opacity: 0.5;
}

.bannerBtns > button {
  border: none;
  background-color: transparent;
  width: 29px;
  height: 28px;
}

@media screen and (max-width: 768px) {
  .bannerBtns {
    width: 110px;
  }

  .bannerBtns > button {
    width: 25px;
    height: 25px;
  }

  .bannerBtns > button > svg {
    width: 25px;
    height: 25px;
  }
}

.btn-brand {
  border: 1px solid transparent;
  border-radius: 40px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 20px 12px 20px;
}

.bg-dark {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
}

.hr {
  border: 0;
  width: 100%;
  background-color: rgb(61, 61, 61);
  height: 1px;
}

.checkbox-label {
  color: rgb(15, 15, 23);
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox-wrapper {
  width: 18px;
  height: 18px;
  border: 1px solid transparent;
  border-image: linear-gradient(rgb(251, 134, 39), rgb(245, 190, 246));
  -moz-border-image: -moz-linear-gradient(
    rgb(251, 134, 39),
    rgb(245, 190, 246)
  );
  -webkit-border-image: -webkit-linear-gradient(
    rgb(251, 134, 39),
    rgb(245, 190, 246)
  );
  border-image-slice: 1;
  margin-right: 10px;
}

.form-checkbox {
  -webkit-appearance: none;
  position: relative;
  width: 16px;
  height: 16px;
  background: white;
  border: none;
  cursor: pointer;
}

.form-checkbox:checked {
  background: linear-gradient(
    180deg,
    rgb(251, 134, 39),
    rgb(245, 190, 246) 100%
  );
}

.form-checkbox::before {
  content: "";
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 9'%3e%3cpath fill='%23fff' d='M4.16 8.5L-0.12 4.22L0.95 3.15L4.16 6.36L11.04 -0.52L12.11 0.55L4.16 8.5Z'/%3e%3c/svg%3e");
  background-size: contain;
  background-repeat: no-repeat;
}

.form-checkbox::before {
  display: block;
}
