.subscribe {
  max-width: 1360px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding: 80px 0 75px 0;
}

@media screen and (max-width: 1024px) {
  .subscribe {
    flex-direction: column;
    justify-content: start;
    padding: 40px 0 40px 0;
  }
}

.subscribe__headline {
  max-width: 340px;
}

.subscribe__headline > h2 {
  color: rgb(15, 15, 23) !important;
}

@media screen and (max-width: 425px) {
  .subscribe__headline > h2 {
    width: 200px;
  }
}

.subscribe__headline > p {
  color: rgb(15, 15, 23) !important;
  opacity: 1 !important;
  margin-top: 20px;
}

@media screen and (max-width: 1024px) {
  .subscribe__headline > p {
    display: none;
  }
  .subscribe__form {
    margin-top: 30px;
  }
}

.form__wrap {
  width: 900px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 51px);
  column-gap: 20px;
  row-gap: 20px;
}

@media screen and (max-width: 1280px) {
  .form__wrap {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .form__wrap {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 51px);
  }
}

.form__wrap > input {
  height: 51px;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid rgb(15, 15, 23);
  border-radius: 10px;
}

::-webkit-input-placeholder {
  color: rgb(15, 15, 23);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  opacity: 0.5;
}
:-moz-placeholder {
  color: rgb(15, 15, 23);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  opacity: 0.5;
}
::-moz-placeholder {
  color: rgb(15, 15, 23);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  opacity: 0.5;
}
:-ms-input-placeholder {
  color: rgb(15, 15, 23);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  opacity: 0.5;
}
::-ms-input-placeholder {
  color: rgb(15, 15, 23);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  opacity: 0.5;
}
::placeholder {
  color: rgb(15, 15, 23);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  opacity: 0.5;
}

.form__wrap > input {
  color: rgb(15, 15, 23);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.form__check > button {
  margin-top: 25px;
}

.btn-subscribe {
  background: linear-gradient(rgb(255, 255, 255) 0 0) padding-box,
    linear-gradient(to right, #9c20aa, #fb3570) border-box;
  color: rgb(15, 15, 23);
}

.btn-subscribe:hover {
  background: linear-gradient(
    180deg,
    rgb(251, 134, 39),
    rgb(245, 190, 246) 100%
  );
  color: rgb(255, 255, 255);
}

.form__check {
  margin-top: 15px;
}

.form__check > div > a {
  text-decoration: none;
  cursor: pointer;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input[type="date"]::before {
  content: attr(data-placeholder);
  width: 100%;
  opacity: 0.5;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
  display: none;
}

input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input[type="time"]::before {
  content: attr(data-placeholder);
  width: 100%;
  opacity: 0.5;
}

input[type="time"]:focus::before,
input[type="time"]:valid::before {
  display: none;
}

.form-checkbox {
  -webkit-appearance: none;
  position: relative;
  width: 18px;
  height: 18px;
  margin-right: 0.5em;
  background: white;
  border: 1px solid #fb8627;
  cursor: pointer;
}

.form-checkbox:checked {
  background: linear-gradient(
    180deg,
    rgb(251, 134, 39),
    rgb(245, 190, 246) 100%
  );
}

.form-checkbox::before {
  content: "";
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 9'%3e%3cpath fill='%23fff' d='M4.16 8.5L-0.12 4.22L0.95 3.15L4.16 6.36L11.04 -0.52L12.11 0.55L4.16 8.5Z'/%3e%3c/svg%3e");
  background-size: contain;
  background-repeat: no-repeat;
}

.form-checkbox::before {
  display: block;
}
